.inputContent{
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 3%;
    background-color: #90bef5;
}
.textField{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    background-color: whitesmoke;
}
